---
---

<nav>
    <ul>
        <li><a href="/">Work</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>

<style>
    nav {
        display: flex;
        justify-content: center;
        font-size: 2rem;
        font-weight: bold;
    }

    ul {
        display: flex;
        list-style-type: none;
    }

    li {
        margin: 0 1rem;
    }

    a {
        color: inherit;
        text-decoration: none;
    }
</style>
